@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-bottom: 12rem;
}
@media screen and (min-width: 1280px) {
  .container {
    margin: 6rem 6rem 12rem 6rem;
  }
}

.card {
  border: none;
  box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  margin: 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}
@media screen and (min-width: 1280px) {
  .card {
    flex-direction: row-reverse;
  }
}
.card .card__title {
  margin: 2rem 0;
}
.card .card__img {
  width: 70%;
}
@media screen and (min-width: 1280px) {
  .card .card__img {
    width: 50%;
    padding: 3rem;
  }
}
.card .card__text {
  color: #808d99;
}
.card--small {
  margin-top: -120px;
  background-color: white;
  color: black;
}
.card--small .card__title--small {
  margin-bottom: 2rem;
  font-size: 1rem;
}
@media screen and (min-width: 1280px) {
  .card--small {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 40%;
  }
}

.hero {
  text-align: center;
}
.hero .hero__ilustation {
  width: 70%;
  margin-top: 1rem;
}
@media screen and (min-width: 1280px) {
  .hero .hero__ilustation {
    width: 100%;
  }
}
.hero .hero__text {
  margin: 2.5rem 0;
}
@media screen and (min-width: 1280px) {
  .hero {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .hero .hero__info {
    width: 60%;
    text-align: left;
    margin-right: 2rem;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 6rem 0;
}
.navbar .logo {
  width: 50%;
}

.btn {
  background-color: #ff52bf;
  border: none;
  border-radius: 15px;
  padding: 0.5rem 2rem;
  color: #ebfbff;
  font-weight: 900;
}
.btn--blanco {
  background-color: white;
  color: rgba(53, 52, 52, 0.979);
  box-shadow: 5px 5px 10px -1px rgba(56, 56, 56, 0.75);
  font-weight: 900;
}

.footer {
  background-color: #00252e;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  padding: 2rem 1rem;
}
.footer .footer__list {
  list-style: none;
}
.footer .footer__list li {
  padding: 0.5rem 0;
}
.footer .footer__list li a {
  text-decoration: none;
  color: white;
}
.footer .footer__list__item {
  display: flex;
  align-items: center;
}
.footer .footer__list__item img {
  padding-right: 0.5rem;
}
.footer .logo--blanco {
  width: 50%;
  margin: 2rem 0;
}
.footer .social-media {
  display: flex;
  justify-content: center;
}
.footer .social-media i {
  margin: 0.5rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .attribution {
  margin-top: 0.5rem;
  text-align: center;
}

header {
  background-image: url(../../images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  background-color: #ebfbff;
  padding: 0 5%;
}

body {
  font-family: "Open Sans", sans-serif;
}

/*# sourceMappingURL=style.css.map */
